<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker: Gustavo Sepulveda</title>
    <link href="css/index.css" rel="stylesheet"> 
</head>
    <body>

        <h1>TO-DO LIST</h1>

        <div class="container">

            <form action="/savetask" method="POST">

                <input
                    class="newtask"
                    type="text"
                    name="newtask"
                    placeholder="Add a Task!"/>

            <button>Save Task</button>


            <h2>Tasks:</h2>


            <% for( var i = 0; i < task.length; i++){ %>

            <div class="task">


                <input type="text" name="check" value="<%= task[i].task %>" />
                <button class="edit" formaction="/edittask/<%=task[i].id%>" type="submit">Edit</button>

                <button formaction="/deletetask/<%=task[i].id%>" type="submit">Remove</button>

            </div>
            <% } %>
        </form>
        </div>
    </body>
</html>